.label {
	a{
		color: #FFFFFF;
	}
}

.badge {
	width: 40px;
	height: 40px;
	padding: 5px;
	border-radius: 20px;
	font-size: inherit;
	line-height: 30px;
}

.news-item h1{
	font-size: 45px;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}

i{
	margin-left: 10px;
}

.navbar-nav{
	a{
		cursor: pointer;
	}
}

.tags-selector{
	a {
		cursor: pointer;
		padding: 20px;
		font-size: 20px;
	}
	div {
		height: 35px;
	}
}

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#footer {
	margin-top: 30px;
	.share-btn{
		display: inline;
	}
}

.navbar-toggle {
	margin: 0px;
	i{
		color: rgba(255,255,255,.84);
		font-size: 27px;
	}
}