.label a {
  color: #FFFFFF;
}
.badge {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 20px;
  font-size: inherit;
  line-height: 30px;
}
.news-item .newspaper-icon .list-group-item {
  padding: 0px;
}
.news-item .newspaper-icon .list-group-item .row-picture {
  padding: 0px;
}
.news-item h2 {
  font-size: 30px;
  margin: 0px;
  color: #fff;
  text-shadow: 2px 2px #000;
}
.news-item .social-numbers {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0px;
}
.news-item .social-numbers p {
  color: #fff;
  font-size: 17px;
  margin: 0;
  padding: 18px 10px;
}
.news-item .social-numbers .sparkline-container {
  margin-top: 10px;
}
.news-item .jumbotron {
  background-color: transparent;
  /* Old browsers */

  background-color: -moz-linear-gradient(-45deg, #3f51b5 0%, #4285f4 100%);
  /* FF3.6+ */

  background-color: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3f51b5), color-stop(100%, #4285f4));
  /* Chrome,Safari4+ */

  background-color: -webkit-linear-gradient(-45deg, #3f51b5 0%, #4285f4 100%);
  /* Chrome10+,Safari5.1+ */

  background-color: -o-linear-gradient(-45deg, #3f51b5 0%, #4285f4 100%);
  /* Opera 11.10+ */

  background-color: -ms-linear-gradient(-45deg, #3f51b5 0%, #4285f4 100%);
  /* IE10+ */

  background-color: linear-gradient(135deg, #3f51b5 0%, #4285f4 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f51b5', endColorstr='#4285f4', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}
.navbar-nav a {
  cursor: pointer;
}
.navbar-nav .checkbox {
  padding-top: 14px;
}
.navbar-nav .checkbox label {
  color: rgba(255, 255, 255, 0.84);
}
.navbar-nav .checkbox label .check {
  margin-right: 0px;
}
.checkbox input[type=checkbox]:checked ~ .check,
.checkbox-default input[type=checkbox]:checked ~ .check {
  color: #E1E4F4;
}
.checkbox input[type=checkbox]:checked ~ .check:after,
.checkbox-default input[type=checkbox]:checked ~ .check:after {
  background-color: #E1E4F4;
}
.checkbox input[type=checkbox]:checked ~ .check:before,
.checkbox-default input[type=checkbox]:checked ~ .check:before {
  color: #E1E4F4;
}
.tags-selector a {
  cursor: pointer;
  padding: 20px;
  font-size: 20px;
}
.tags-selector div {
  height: 35px;
}
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#footer {
  margin-top: 30px;
}
#footer .share-btn {
  display: inline;
}
.navbar-toggle {
  margin: 0px;
}
.navbar-toggle i {
  color: rgba(255, 255, 255, 0.84);
  font-size: 27px;
}
/*Flip cards*/
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  display: block;
}
/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front {
  backface-visibility: hidden;
  z-index: 2;
  /* for firefox 31 */

  transform: rotateY(0deg);
}
.front h2 {
  margin: 10px;
  min-height: 120px;
}
/* hide back of pane during swap */
.back {
  backface-visibility: hidden;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}
.link-placeholder {
  height: 120px;
  display: block;
  width: 100%;
}
