<!-- Navbar -->
<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
	 <div class="container">
        <div id="nav-main" class="row">
            <ul class="nav navbar-nav col-md-12">
            <li><a href="/">Volver al Ranking</a></li>
			</ul>

			<!-- ./ nav-collapse -->
		</div>
	</div>
</div>
<!-- ./ navbar -->


<div class="row">
	<div class="col-md-6">
		<div class="jumbotron">
			<h2>Acerca del proyecto</h2>
			<p>ESTO ES UN EXPERIMENTO/PROTOTIPO Y ESTÁ EN BETA.</p>
			<p>Es sólo por el afán de aprender y divertirse, haciendo algo interesante.</p>
			<p>La idea nació de un tweet de <a href="https://twitter.com/Gauyo/" target="_blank">@Gauyo</a>:</p>
			<p><blockquote class="twitter-tweet" lang="en"><p>Una idea: una app que haga un ranking automático con las notas más compartidas en redes de los diarios dominicales . <a href="https://twitter.com/palamago">@palamago</a> copate (?)</p>&mdash; Ariel Tiferes (@Gauyo) <a href="https://twitter.com/Gauyo/status/516218479117340674">September 28, 2014</a></blockquote>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>
			<p><a href="http://twitter.com.ar/palamago" target="_blank">Me pareció</a> interesante y ví que no existía algo así para medios en Español.</p>
			<p>La referencia más directa es <a href="https://www.smartnews.com/" target="_blank">SmartNews</a>. Cuenta con una hermosa app mobile y una buena UX. Pero sólo contempla medios de Europa o Estados Unidos.</p>
		</div>
		<div class="jumbotron">
			<h2>Tecnología</h2>
			<p>El proyecto está basado en el framework <a href="http://laravel.com/" target="_blank">Laravel</a> de PHP.</p>
			<p>La base de datos es MySql con buenas Foreign Keys e índices.</p>
			<p>El backend para cargar los medios, RSS y categorías está autogenerado con <a href="https://github.com/FrozenNode/Laravel-Administrator" target="_blank">Laravel-Administrator</a></p>
			<p>El frontend está resuelto en <a href="https://angularjs.org/" target="_blank">AngularJS</a> + <a href="https://github.com/mgonto/restangular" target="_blank">Restangular</a></p>
			<p>El diseño es <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a> con un theme del estilo <a href="http://fezvrasta.github.io/bootstrap-material-design/" target="_blank">Material Design.</a></p>
			<p>Este prototipo está montado sobre <a href="https://openshift.redhat.com" target="_blank">OpenShift</a>, la plataforma de nube de RedHat. Está corriendo en una instancia gratuita, por lo que es posible que se caiga o sea lento por momentos. Ya veremos de migrarlo si se justifica.</p>
			<p>Dudas o comentarios: <a href="https://github.com/palamago/shared-links-ranking/issues" target="_blank">aquí.</a>.</p>
		</div>
		<img src="http://sd.keepcalm-o-matic.co.uk/i/keep-calm-and-don-t-troll.png" class="img-responsive" />
	</div>
	<div class="col-md-6">
		<div class="jumbotron">
			<h2>Sobre los datos</h2>
			<p>Los datos son obtenidos directamente desde las redes sociales, a través de sus APIs. Se crearon utilizando esta <a href="https://www.sharedcount.com/documentation.php" target="_blank">guía</a>.</p>
			<p>Un proceso que se ejecuta una vez por hora, recolecta novedades de los RSS y verificando la cantidad de "shares" que tiene ese link en cada red social. Se toman las noticias de hasta 24 hs de antigüedad.</p>
			<p>Para cada link, se toman datos de:</p>
			<ul>
				<li><strong>Facebook:</strong> Cantidad de Likes sumado a la cantidad de Shares. No se cuentan los comentarios.</li>
				<li><strong>Twitter:</strong> Tweets y RT's de un link desde la página.</li>
				<li><strong>Google+:</strong> Cantidad de shares desde la página.</li>
				<li><strong>Linkedin:</strong> Cantidad de shares desde la página.</li>
			</ul>
			<p>Se evalúa en cada red social, la última redirección de cada link. Algunos acortadores de URL no son tenidos en cuenta. Algunas páginas con distinto subdominio para mobile, tampoco son tenidas en cuenta. Se basa en la URL provista por los RSS o su última redirección.</p>
			<p>Tomé los medios online que, basado un sondeo rápido por Twitter, me parecieron los más importantes y populares del país.</p>
			<p>De esos medios, tomé los RSS que me parecieron apropiados, como para tener una muestra variada de noticias y temáticas.</p>
		</div>
		<div class="jumbotron">
			<h2>Código Fuente</h2>
			<p>El código de este proyecto es completamente abierto y está en <a href="https://github.com/palamago/shared-links-ranking" target="_blank">GitHub</a>, así como también las librerías y frameworks que he usado.</p>
		</div>
		<div class="jumbotron">
			<h2>Errores y comentarios</h2>
			<p>El código de este proyecto es completamente abierto y como tal, todos están invitados a participar con código o con ideas y sugerencias.</p>
			<p>Usaremos los issues de GitHub para reportar errores / sugerencias / ideas: <a href="https://github.com/palamago/shared-links-ranking/issues" target="_blank">aquí.</a></p>
			<p>Todo puede tener error. Todo se puede mejorar. Siempre.</p>
		</div>
		<img src="http://2.bp.blogspot.com/-R9uwwvAq8Qo/UvIptYim57I/AAAAAAAABF0/sSsdNITK--0/s1600/Ron+Swanson+Please+and+Thank+You.jpg" class="img-responsive" width="100%" />
	</div>
</div>

<p class="text-center"><a class="btn btn-primary" href="#/">Volver al Ranking</a></p>