<div ng-include="'partials/menu.html'"></div>
<div class="jumbotron">
	<h2 class="text-center">History</h2>
  	<h2 class="text-center"> <span style="color:{{titles.tagColor}}" ng-show="titles.tag">{{titles.tag}}</span> <span style="color:{{titles.tagColor}}" ng-show="titles.newspaper"><strong>{{titles.newspaper}}</strong></span>
  	</h2>
</div>

<h2 ng-show="loading" class="text-center"><i class="text-primary fa fa-circle-o-notch fa-spin fa-3x"></i><br/>Cargando Noticias</h2>

<h2 ng-show="topnews.length==0 && !loading">No hay noticias con estos criterios.</h2>

<div class="row" >
	<div class="col-md-12">

		<table class="table">
	      <thead>
	        <tr>
	          <th>Day</th>
	          <th>Title</th>
	          <th>Shares</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="link in topnews">
	          <td>{{link.date}}</td>
	          <td><a ng-href="{{link.url}}" target="_blank">{{link.title}}</a></td>
	          <td>{{link.total_day}}</td>
	        </tr>
	      </tbody>
	    </table>

	</div>
</div>

