<div ng-include="'partials/menu-detail.html'"></div>

<h2 ng-show="loading" class="text-center"><i class="text-primary fa fa-circle-o-notch fa-spin fa-3x"></i><br/>Cargando Noticia</h2>

<div ng-hide="loading" class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			
			<div class="row">
				<div class="col-md-12">
					<div class="list-group">
					    <div class="list-group-item">
					        <div class="row-picture">
					            <img ng-click='filterClick("newspaper",link.newspaper.id)' class="circle" ng-src="{{link.newspaper.logo}}" alt="icon">
					        </div>
					        <div class="row-content">
						        <h2><a href="{{link.url}}" target="_blank">{{link.title}} <i class="icon-material-launch"></i></a></h2>
					        </div>
					    </div>
					</div>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-4">
					<p><strong><i class="text-primary fa fa-share-alt"></i> {{link.total}}</strong></p>
					<p><i class="text-primary fa fa-facebook"></i> {{link.facebook}}</p>
					<p><i class="text-primary fa fa-twitter"></i> {{link.twitter}}</p>
				</div>
				<div class="col-md-4">
					<p><i class="text-primary fa fa-clock-o"></i> {{getDateDiff(link.date)}}</p>
					<p><i class="text-primary fa fa-newspaper-o"></i> {{link.newspaper.name}}</p>
					<p><i class="text-primary fa fa-tag"></i> {{link.tag.name}}</p>
				</div>
				<div class="col-md-4">
					<img class="img-responsive" ng-src="{{link.image}}" />
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-6">
					<h4 class="text-center">Redes</h4>
					<div id="vizShare"></div>
				</div>
				<div class="col-md-6">
					<h4 class="text-center">Tendencia</h4>
					<div id="vizTotals"></div>
				</div>
			</div>
		</div>
	</div>
</div>
