<!-- Navbar -->
<div class="navbar navbar-default navbar-primary navbar-fixed-top">
	 <div class="container">
        <div class="navbar-header col-md-2">
            <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="mdi-hardware-keyboard-control"></i>
            </a>
            <a href="/">
				<img alt="Brand" class="logo-menu" src="/img/LOGO-HOME.png">
			</a>
        </div>
        <div id="nav-main" class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav col-md-10">
				<li class="dropdown col-md-4 text-center">
	                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
	                	<i class="mdi-maps-local-offer"></i>
	                	<span> {{(titles.tag)?titles.tag:'Todos las categorías'}} <i class="mdi-hardware-keyboard-arrow-down"></i></span> 
	                </a>
	                <ul class="dropdown-menu col-md-12">
	                    <li><a ng-click='filterClick("tag","")' ng-class="{active:(filters.tag=='')}">
							<span>Todas las categorías</span>
						</a></li>

						<li class="col-md-6 tags-selector" ng-repeat="tag in tags">
							<a data-id="{{tag.id}}" data-toggle="tooltip" data-placement="bottom" title="{{link.name}}" ng-click='filterClick("tag",tag.id)' ng-class="{active:(filters.tag==tag.id)}">
								<div class="text-center">
									<span class="label lead" style="background-color:{{tag.color}};">
								   	{{tag.name}}
									</span>
								</div>
							</a>
						</li>

	                </ul>
	            </li>
	            <li class="dropdown col-md-4 text-center">
	                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
	                	<i class="mdi-content-content-paste"></i>
	                	<span>{{(titles.newspaper)?titles.newspaper:'Todos los medios'}} <i class="mdi-hardware-keyboard-arrow-down"></i></span>
	                </a>
	                <ul class="dropdown-menu col-md-12">
						<li><a ng-click='filterClick("newspaper","")' ng-class="{active:(filters.newspaper=='')}">
							<span>Todos los medios</span>
						</a></li>

						<li class="col-md-6" ng-repeat="newspaper in newspapers" >
							<a data-id="{{newspaper.id}}" data-toggle="tooltip" data-placement="bottom" title="{{newspaper.name}}" ng-click='filterClick("newspaper",newspaper.id)' ng-class="{active:(filters.newspaper==newspaper.id)}">
								<div class="text-left">
									<img ng-src="{{newspaper.logo}}" width="30" />
									{{newspaper.name}}
								</div>
							</a>
						</li>

	                </ul>
	            </li>

	            <li class="dropdown col-md-4 text-center">

				    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
					    <i class="mdi-device-access-time"></i>
					    <span ng-if="filters.hs==1">Última hora</span>
					    <span ng-if="filters.hs!=1">Últimas {{filters.hs}} horas</span>
					    <i class="mdi-hardware-keyboard-arrow-down"></i>
				    </a>
				    <ul class="dropdown-menu col-md-12">
				        <li ng-repeat="hs in times">
				        	<a ng-if="hs==1" ng-click='filterClick("hs",hs)' href="javascript:;">Última hora</a>
				        	<a ng-if="hs!=1" ng-click='filterClick("hs",hs)' href="javascript:;">Últimas {{hs}} horas</a>
				        </li>
				    </ul>

	            </li>

			</ul>

			<!-- ./ nav-collapse -->
		</div>
	</div>
</div>
<!-- ./ navbar -->
