<!-- Navbar -->
<div class="navbar navbar-default navbar-primary navbar-fixed-top">
	 <div class="container">
        <div class="navbar-header col-md-2">
            <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="mdi-hardware-keyboard-control"></i>
            </a>
            <a class="navbar-brand" href="/"><strong><i class="mdi-action-stars"></i>TopRanking.link</strong></a>
        </div>
        <div id="nav-main" class="collapse navbar-collapse navbar-ex1-collapse">

        	
			<!-- ./ nav-collapse -->
		</div>
	</div>
</div>
<!-- ./ navbar -->
