<div ng-include="'partials/menu.html'"></div>
<div class="jumbotron">
	<h2 class="text-center">Noticias más compartidas</h2>
  	<h2 class="text-center"> <span style="color:{{titles.tagColor}}" ng-show="titles.tag">{{titles.tag}}</span> <span style="color:{{titles.tagColor}}" ng-show="titles.newspaper"><strong>{{titles.newspaper}}</strong></span>
  	<div class="btn-group">
	    <a href="javascript:void(0)" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	    <i class="mdi-device-access-time"></i>
	    <span ng-if="filters.hs==1">Última hora</span>
	    <span ng-if="filters.hs!=1">Últimas {{filters.hs}} horas</span>
	    <i class="mdi-hardware-keyboard-arrow-down"></i></a>
	    <ul class="dropdown-menu">
	        <li ng-repeat="hs in times">
	        	<a ng-if="hs==1" ng-click='filterClick("hs",hs)' href="javascript:;">Última hora</a>
	        	<a ng-if="hs!=1" ng-click='filterClick("hs",hs)' href="javascript:;">Últimas {{hs}} horas</a>
	        </li>
	    </ul>
	</div>
  	</h2>
</div>

<h2 ng-show="loading" class="text-center"><i class="text-primary fa fa-circle-o-notch fa-spin fa-3x"></i><br/>Cargando Noticias</h2>

<h2 ng-show="topnews.length==0 && !loading">No hay noticias con estos criterios.</h2>

<div class="row" >
	<div class="col-md-6 news-item" ng-repeat="link in topnews" >
		<div class="jumbotron" style="background-image:url('{{link.image}}');background-size:cover;">
			<div class="row">
				<div class="col-md-12" >
					<div class="list-group pull-right newspaper-icon">
					    <div class="list-group-item">
					        <div class="row-picture">
					            <img ng-click='filterClick("newspaper",link.newspaper.id)' class="circle" ng-src="{{link.newspaper.logo}}" alt="icon">
					        </div>
					    </div>
					    <p class="text-center">{{getDateDiff(link.date)}}</p>
					</div>
					<div>
						<h2>{{$index+1}}. <a href="{{link.url}}" target="_blank">{{link.title}}</a></h2>
						<p><span class="label" style="background-color:{{link.tag.color}};"><a ng-click='filterClick("tag",link.tag.id)'>{{link.tag.name}}</a></span></p>
					</div>
				</div>
			</div>
			<div class="row social-numbers">
				<div class="col-xs-4 text-center">
					<p class="">
						<strong>  
						<i class="text-primary fa fa-share-alt"></i>
						+{{link.diff}}
						</strong>  
						<small>
						<span>{{filters.hs}}h</span>
						</small>
					</p>
				</div>
				<div class="col-xs-4 text-center">
					<p class="">
						<strong>  
						<i class="text-primary fa fa-share-alt"></i> 
						{{link.total}}
						</strong>  
						<small>Total</small>
					</p>
				</div>
				<div class="col-xs-4 sparkline-container">
					<div id="sparkline-accum-{{link.id}}" class="text-center"><i class="text-primary fa fa-circle-o-notch fa-spin fa-2x"></i></div>
				</div>
			</div>	
			<div class="row social-numbers">	
				<div class="col-xs-3 text-center" >
					<p><i class="text-primary fa fa-facebook"></i> {{link.facebook}}</p></div>
				<div class="col-xs-3 text-center" >
					<p><i class="text-primary fa fa-twitter"></i> {{link.twitter}}</p></div>
				<div class="col-xs-3 text-center" >
					<p><i class="text-primary fa fa-google-plus"></i> {{link.googleplus}}</p></div>
				<div class="col-xs-3 text-center" >
					<p><i class="text-primary fa fa-linkedin"></i> {{link.linkedin}}</p></div>
			</div>

		</div>
	</div>

</div>